@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

*{

    font-family: 'gochi hand', cursive;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(209, 83%, 74%, 0.764);
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.header-img{
background-image: url();
}
.todo-inputs{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

}
.todo-title{
    font-size: 35px;
    background-color: hsla(209, 83%, 74%, 0.764);
    -webkit-transform: rotate(2deg);
    border-radius: 0px 5px 5px 5px;
}
.todo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    background-size: 100% 1.2em;
    
    background-image: -webkit-linear-gradient(#eee 0.05em, transparent .05em);
  
    min-width: 50%;
    height: 90vh;
    max-width: 80%;
    padding-top: 2rem;
    margin-top: 2rem;
    border-radius:5px;
    box-shadow: 4px 3px 7px 2px #00000040;
    padding: 1rem;
    gap: 1rem;
}


.form-input {
    margin: 0.3rem;
    border: none;
    outline: none;
    border-bottom: dashed 0.2px;
    background-color: hsla(209, 83%, 74%, 0.764);
    width: 15rem;
    height: 1.9rem;
    font-size: 22px;
    border-radius: 5px;
   
}

.update-button, .create-button{
    font-size: 1.5rem;
    padding: 0.3rem;
    transform: rotate(5deg);
    transform-origin:top;
    font-family: 'Gochi Hand', cursive;
    text-decoration: none;
    padding-bottom: 3px;
    border-radius:5px;
    box-shadow: 0 2px 0 hsl(198, 1%, 29%);
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: hsla(209, 83%, 74%, 0.764);
    
}

.update-button span, .create-button span {
    background: #f1f5f8;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid hsl(198, 1%, 29%);
}
.update-button:active, .create-button:active  {
    transform: translateY(6px);
    padding-bottom: 0px;
    outline: 0;
}
.update-button:after, .create-button:after{
    transform: translateY(6px);
}

.update-button:hover, .create-button:hover{

    background-color: hsla(209, 61%, 50%, 0.764);

}
.list-container{
    
    display: flex;
    align-items: flex-start;
    width: 90%;
    word-break: break-all;
}
.todo-list{
    display: inline;

    
  
}


@media only screen and (max-width: 600px) {
 
    .button{
        display: flex;
        font-size: 20px;
        
    }

    .todo-container{
        background-image:-webkit-linear-gradient(#eee .05em, transparent .15em);
        width: 100vh
    
    }

    .todo-inputs{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
    
    }
    
.form-input {
    margin: 0.3rem;
    border: none;
    outline: none;
    border-bottom: dashed 0.2px;
    background-color: hsla(209, 83%, 74%, 0.764);
    width: 11rem;
    height: 1.5rem;

}

    .todo-title{
        font-size: 25px;
      
    }
    .create-button{
        height: 2rem;
        font-size: 1.4rem;
        padding: 0.1rem;
    }
  }